meta(charset="utf-8")

title MoGo
meta(name="description" content="")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

link(href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CMontserrat:400,700%7CRoboto:300i,400" rel="stylesheet")

// build:css styles/main.css
link(rel="stylesheet" href="/styles/main.css")
// endbuild

link(rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css")

link(rel="shortcut icon" href="/favicon.ico")
link(rel="apple-touch-icon" href="/apple-touch-icon.png")

script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js" onload="svg4everybody();" async="")