.map {
	padding: 76px 0 120px;
	height: 200px;
	text-align: center;
	background-image: url(../images/map_bgrd.jpg);

	&_mark {
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;

		&-icon {
			width: 20px;
			height: 26px;
			color: $red;
		}
	}

	&_link {
		position: relative;
		display: inline-block;

		&:hover .map_title {
			color: red;
		}
	}

	&_title {
		margin: 0.83em;
		font: 700 24px/1.15 'Montserrat';
		text-transform: uppercase;
		color: $red;
	}

	&_underline.underline::after {
		bottom: 54px;
	}
}