extends layouts/default.pug

block content
	include include/components/_hero
	include include/components/_about
	include include/components/_facts
	include include/components/_services
	include include/components/_design
	include include/components/_wwd
	include include/components/_excerp
	include include/components/_team
	include include/components/_logos
	include include/components/_work
	include include/components/_testi
	include include/components/_wps
	include include/components/_blog
	include include/components/_map
	include include/components/_footer

block scripts
	include include/scripts/_scripts