$icons: (
	sprite: (svgPath: '../sprites/sprite-bgrd.svg'),
	alarm: (width: 32px, height: 31px, backgroundX: 0px, backgroundY: 0px),
		book: (width: 32px, height: 32px, backgroundX: -32px, backgroundY: -31px),
		bullseye: (width: 32px, height: 32px, backgroundX: -64px, backgroundY: -63px),
		cart: (width: 18px, height: 15px, backgroundX: -96px, backgroundY: -95px),
		computer: (width: 32px, height: 28px, backgroundX: -114px, backgroundY: -110px),
		equalizer: (width: 28px, height: 32px, backgroundX: -146px, backgroundY: -138px),
		glass: (width: 18px, height: 18px, backgroundX: -174px, backgroundY: -170px),
		home: (width: 32px, height: 31px, backgroundX: -192px, backgroundY: -188px),
		image: (width: 32px, height: 32px, backgroundX: -224px, backgroundY: -219px),
		line-graph: (width: 32px, height: 32px, backgroundX: -256px, backgroundY: -251px),
		picture: (width: 30px, height: 30px, backgroundX: -288px, backgroundY: -283px),
		picture-white: (width: 30px, height: 30px, backgroundX: -318px, backgroundY: -313px),
		pin: (width: 20px, height: 26px, backgroundX: -348px, backgroundY: -343px),
		speech: (width: 150px, height: 150px, backgroundX: -368px, backgroundY: -369px),
		speech-bubble: (width: 17px, height: 15px, backgroundX: -518px, backgroundY: -519px),
		users: (width: 32px, height: 24px, backgroundX: -535px, backgroundY: -534px),
		view: (width: 20px, height: 12px, backgroundX: -567px, backgroundY: -558px),
	);