// build:js scripts/vendors.js
// bower:js
script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
// endbower
// endbuild

// build:js scripts/common.js
script(src="scripts/_assistants.js")
script(src="scripts/_counter.js")
script(src="scripts/_scrollto.js")
script(src="scripts/_slider.js")
// endbuild

// build:js scripts/scrollbar.js
script(src="scripts/scrollbar.js")
// endbuild