section.section.services#service
	.container

		+sectionHead(
			'We work with',
			'Amazing Services'
		)

		mixin serviceRow (serviceClass, title, text)
			ul.services_row
				- for (let n = 0; n < 3; n++)
					li(class= `service service-${serviceClass[n]}`)
						h5.item-title= title[n]
						p= text[n]

		+serviceRow(['photography', 'web-design', 'creativity'],
								['Photography', 'Web Design', 'Creativity'],
								['Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.', 'Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.', 'Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'])

		.divider.services_divider

		+serviceRow(['seo', 'csshtml', 'digital'],
								['Seo', 'Css/Html', 'Digital'],
								['Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.', 'Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.'])